body {
    height: 100%;
    width: 100%;
    background-image: url(FRESHPRINCE.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

div {
    width: 700px;
    margin: 0 auto;
    background-color: greenyellow;
    background-size: cover;
    border-radius: 2px;
}

#titulo {
    color: white;
    text-align: center;
    background-color: greenyellow;
    background-size: cover;
    margin: 0 auto;
    border-radius: 2px;
}

dl {
    color: white;
    font-size: larger;
    font-weight: bold;
}

#favorito {
    border-radius: 3px;
    background-color: rgb(245, 182, 237);
}